html,
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: #eef0f4;
  color: #432000;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}

img {
  width: 150px;
  margin: 0 auto;
}

h2, h3 {
  font-weight: 900;
  text-align: center;
}

input,
textarea {
  color: #432000;
  background-color: #dce1eb;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  
}

textarea {
    max-width: 300px;
    height: 115px;
    text-align: left;
  }

input {
    width: 50%;
    margin: 10px 0;
}

.input-wrapper {
    display: flex;
    gap: 10px;
}

button {
  color: #fdfdfd;
  background-color: #1a5dad;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  margin-bottom: 20px;
}

button:hover {
  background-color: #173f6f;
  cursor: pointer;
}


/* feed */

.feed {
  background-color: white;
  padding: 20px;
  margin: 15px 0;
}

.feed-details {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
}

.feed-detail {
  display: flex;
  gap: 4px;
}

.from-output,
.to-output {
  font-size: 12px;
  font-weight: 900;
  margin-top: 0;
}

.feed-text {
  font-size: 14px;
  line-height: 20px;
}

i {
    font-size: 15px;
    cursor: pointer;
}

.fa-solid{
    color: #999;
}

.fa-trash:hover {
  color: red;
}

.liked{
    color: #173f6f;
}

/* utility */
.hidden {
  display: none;
}

